
importing library

In [3]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
import numpy as np 
from numpy import genfromtxt 
from matplotlib import pyplot as plt 
%matplotlib inline 
from keras.utils.np_utils import to_categorical

seperating the input data and labels

In [33]:
data = pd.read_csv('CNAE.csv', encoding='latin-1')

train_data = data[:864]
test = data[:216]

print(train_data.shape)
print(test_data.shape)
print(train_data.columns)
print(test_data.columns)

(864, 858)
(216, 858)
Index(['Unnamed: 0', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9',
       ...
       'V848', 'V849', 'V850', 'V851', 'V852', 'V853', 'V854', 'V855', 'V856',
       'V857'],
      dtype='object', length=858)
Index(['Unnamed: 0', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9',
       ...
       'V848', 'V849', 'V850', 'V851', 'V852', 'V853', 'V854', 'V855', 'V856',
       'V857'],
      dtype='object', length=858)

In [34]:
train_data.head()

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V848,V849,V850,V851,V852,V853,V854,V855,V856,V857
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
train=pd.DataFrame(train_data[train_data.columns[1:]])

In [38]:
train.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V848,V849,V850,V851,V852,V853,V854,V855,V856,V857
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
test=pd.DataFrame(test[test.columns[1:]])
test.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V848,V849,V850,V851,V852,V853,V854,V855,V856,V857
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
x_train = train[train.columns[1:]]
y_train = pd.DataFrame(train[train.columns[0]])

In [41]:
y_train.head()

   V1
0   1
1   2
2   3
3   4
4   5

In [42]:
x_test = test[test.columns[1:]]
y_test = pd.DataFrame(test[test.columns[0]])

In [43]:
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [64]:
model = Sequential()
model.add(Dense(857, input_dim = 856, activation = 'sigmoid'))
model.add(Dense(250, activation = 'sigmoid'))
model.add(Dense(10, activation = 'softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam', metrics= ['accuracy'])
%time model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_120 (Dense)            (None, 857)               734449
_________________________________________________________________
dense_121 (Dense)            (None, 250)               214500
_________________________________________________________________
dense_122 (Dense)            (None, 10)                2510
=================================================================
Total params: 951,459
Trainable params: 951,459
Non-trainable params: 0
_________________________________________________________________
Wall time: 1 ms

In [68]:
x_train = np.array(x_train)

In [92]:
 plo=model.fit(x_train, y_train, epochs= 7,batch_size=29, validation_split=0.1,verbose = 1)

Train on 777 samples, validate on 87 samples
Epoch 1/7
777/777 [==============================] - 0s - loss: 0.0016 - acc: 1.0000 - val_loss: 0.1768 - val_acc: 0.9540
Epoch 2/7
777/777 [==============================] - 0s - loss: 0.0018 - acc: 1.0000 - val_loss: 0.1899 - val_acc: 0.9425
Epoch 3/7
777/777 [==============================] - 0s - loss: 0.0015 - acc: 1.0000 - val_loss: 0.1790 - val_acc: 0.9540
Epoch 4/7
777/777 [==============================] - 0s - loss: 0.0013 - acc: 1.0000 - val_loss: 0.1919 - val_acc: 0.9425
Epoch 5/7
777/777 [==============================] - 0s - loss: 0.0013 - acc: 1.0000 - val_loss: 0.1790 - val_acc: 0.9540
Epoch 6/7
777/777 [==============================] - 0s - loss: 0.0015 - acc: 1.0000 - val_loss: 0.1923 - val_acc: 0.9425
Epoch 7/7
777/777 [==============================] - 0s - loss: 0.0014 - acc: 1.0000 - val_loss: 0.1764 - val_acc: 0.9540

In [72]:
x_test=np.array(x_test)

In [83]:
model.evaluate(x_test, y_test,verbose=1)

 32/216 [===>..........................] - ETA: 0s

[0.0071263425052165985, 1.0]

[0.0071263425052165985, 1.0]